{% extends 'base.html' %}
{% load static %}
{% block a %}
<head>
    <meta charset="UTF-8">
    <title>Assignment System</title>
    <style>
      .a:hover{
      transform:scale(1.2);
      transition:all ease 2s;
      box-shadow:5px 5px 15px #aa66cc;
      }
    </style>
</head>
<body>
<div class="row slider">
    <!--start slider-->
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/a1.jpg'%}" class="d-block w-100" style="height:500px" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1 class="text-white text-start fw-bold">COURAGE + WORK <br> = SUCCESS</h1>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/a22.jpg'%}" style="height:500px" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1 class="text-white text-start fw-bold">LEARN IT. OWN IT. <br>ASSIGNHUT</h1>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/a3.jpg'%}" style="height:500px" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1 class="text-white text-start fw-bold">IT WILL BE WORTH</h1> <h1 class="text-dark fw-bold text-start"> IT IN THE END</h1>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    <!--end slider-->
</div>
<div class="row aboutcollege">
    <div class="row">
      <div class="col-sm-12">
<br><br>
  <h1 class="text-center">ABOUT <b style="color:#aa66cc">COLLEGE</b>&nbsp;&nbsp;<i class="fa-solid fa-building-columns text-mycolor"></i></h1><br><br>
</div>
    <div class="col-sm-4">

        <div class="row my-4">
        <div class="col-sm-2"></div>
        <div class="col-sm-8"><img src="{% static 'images/a12.jpg' %}" class=" border rounded-4 a" width="400" height="200"></div>
        <div class="col-sm-2"></div>
            </div>
    </div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
        Government Girls Polytechnic - Amethi was established in the year 1986. This institute is
        situated at a distance of 15 Kms. from CSM Nagar, on Lucknow -Varanasi National Highway and 1 km. from Amethi
        roadways station and 1.5 kms. from Amethi railway station. In Government Girls Polytechnic - Amethi Four Diploma
        Courses are running<br><br>
    <b>1-</b> Electronics Engg. (Three years)<br>
    <b>2-</b> Computer Science & Engg (Three years)<br><br>

    <b>3-</b> Modern Office Management and Secretarial Practice (Two years),<br>
    <b>4-</b> Post Graduate Diploma Course In Accountancy ( With Computerised Accounts & Taxation ) (One Year)<br><br>
</div>
      <div class="col-sm-1"></div>
            </div>
        </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
        The Institute is owned by Government of Uttar Pradesh and affiliated to the Board of Technical Education,
        Uttar Pradesh & approved by AICTE, New Delhi.<br><br>

Government Girls Polytechnic - Amethi library has around 11000 books related to different subjects of various
        disciplines of engineering, computer science, information technology, basic sciences, languages and other
        general books. The collection of books is strengthened and updated. A separate Book Bank is also provided to
        meet the requirement of students of S.C., B.C. and other lower income groups. The Book Bank has a collection of
        1142 books.<br><br>

Government Girls Polytechnic - Amethi has one bus, one mini bus to take care of educational tours and industrial visits
        of students. A jeep is attached to Training & Placement Officer to keep interaction with industries for the
        placement of students. Government Girls Polytechnic - Amethi is fully equipped with latest Machinery & Equipments
        to train the students to face the challenge of Modern Industries and conduct all the experiments and practical
        exercises as per the curriculum of the courses being run at this institute.<br><br>


                </div>
            <div class="col-sm-1"></div>
</div>
    </div>
<div class="col-sm-4 my-4">

        <img src="{% static 'images/a13.jpg' %}" class=" border rounded-4 a" width="400">

            </div>
    </div>
</div>
<div class="row principaldesk" style="background:#aa66cc">
    <div class="col-sm-12">
    <br>
  <h1 class="text-center">PRINCIPAL <b style="color:white">DESK</b>&nbsp;&nbsp;<i class="fa-solid fa-user-tie text-white"></i></h1><br></div>
    <div class="col-sm-12">
        <div class="row">
<div class="col-sm-4 pb-5">
<center>
        <img src="{% static 'images/a15.jpg' %}" class=" border rounded-4 a" width="200"  height="200">
</center>
            </div>
    <div class="col-sm-8 mt-5">
        <h5 style="text-align:center">Education is a life-long learning-teaching process.The world around us is changing<br>by leaps and bounds.
        The rapid change is constantly raising new challenges.<br> The only powerful tool is Education which shapes the
            young minds.</h5>
        <h6 class="text-end pe-4">~ Mr. Sandeep Kumar Singh<br>
        Principal Of Government Girls Polytechnic, Amethi</h6>
    </div>
            </div>
        </div>
</div>
<div class="row ourstaff">
     <div class="col-sm-12">
    <br><br>
  <h1 class="text-center">OUR <b style="color:#aa66cc">STAFF</b>&nbsp;&nbsp;<i class="fa-solid fa-chalkboard-user text-mycolor"></i></h1></div>


<div class="card w-25 m-5">
  <img src="{% static 'images/a16.jpg' %}" class="card-img-top" alt="..." height="200" width="50">
  <ul class="list-group list-group-flush fw-bold">

    <li class="list-group-item"> Name : Mr. Mohd. Aslam</li>
      <li class="list-group-item">Designation : Head Of Department Of Computer Science Branch</li>
  </ul>
</div>

<div class="card w-25 m-5">
  <img src="{% static 'images/a17.jpg' %}" class="card-img-top" alt="..." height="200" width="50">
  <ul class="list-group list-group-flush fw-bold">

    <li class="list-group-item"> Name : Mrs. Rakhi Sahu</li>
      <li class="list-group-item">Designation : Head Of Department Of Electronics Engineering Branch</li>
  </ul>

</div>
<div class="card w-25 m-5">
  <img src="{% static 'images/a18.jpg' %}" class="card-img-top" alt="..." height="200" width="50">
  <ul class="list-group list-group-flush fw-bold">

    <li class="list-group-item"> Name : Mrs. Parwati Shrivastav</li>
      <li class="list-group-item">Designation : Head Of Department Of MOM & SP Branch</li>
  </ul>
</div>
</div>
<div class="row facilities" style="background:#aa66cc">
     <div class="col-sm-12">
    <br><br>
  <h1 class="text-center">FACIL<b style="color:white">ITIES</b>&nbsp;&nbsp;<i class="fa-solid fa-bars-progress text-white"></i></h1></div>
<div class="card w-25 m-5">
  <div class="card-body">
    <h5 class="card-title">LIBRARY</h5>
    <p class="card-text">Library has around 11000 books related to different subjects of various disciplines of
        engineering, computer science, information technology, basic sciences, languages and other general books</p>
  </div>
</div>
    <div class="card w-25 m-5">
  <div class="card-body">
    <h5 class="card-title">NATIONAL SERVICE SCHEME</h5>
    <p class="card-text">Has also the scheme of N.S.S (National Service Scheme). Various activities are carried out by
        the volunteers of this scheme, which include blood donation camps, tree plantation etc.</p>
  </div>
</div>
    <div class="card w-25 m-5">
  <div class="card-body">
    <h5 class="card-title">CALENDAR OF ACTIVITIES</h5>
    <p class="card-text">A comprehensive annual program of all academic and extra curriculum activities is prepared
        in the beginning of session. This is known as calendar of Activities</p>
  </div>
</div>
    <div class="card w-25 m-5">
  <div class="card-body">
    <h5 class="card-title">WORKSHOP PROGRAMS</h5>
    <p class="card-text">been provided with the different workshops for the training of the students that have been
        equipped with a wide range of modern, automatic and high-tech machines being used in the industry for the
        production of various products as per the market requirement</p>
  </div>
</div>
    <div class="card w-25 m-5">
  <div class="card-body">
    <h5 class="card-title">CLUBS</h5>
    <p class="card-text">There are various clubs in Government Girls Polytechnic - Amethi which provide ample
        opportunities to the students to develop into a complete human being.</p>
  </div>
</div>
<div class="card w-25 m-5">
  <div class="card-body">
    <h5 class="card-title">TRANSPORTATION</h5>
    <p class="card-text">Government Girls Polytechnic - Amethi has one bus, one mini bus to take care of educational tours and industrial visits of
        students. A jeep is attached to Training & Placement Officer to keep interaction with industries for the placement of students.</p>
  </div>
</div>
</div>

</body>
{% endblock %}